/*
    Size for all components
 */
 
 * {
  box-sizing: border-box;
}

/*
    Body
 */
body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: rgb(18, 19, 16);
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

/*
   Login Page
 */

.login
{
  height: 400px;
  width: 400px;
  background-color:rgb(19, 18, 18);
  border: 4px solid rgb(33, 34, 34);
  top:0px;
}

/*
    Username field
 */

.field {
  width: 200px;
  height: 22px;
  position: absolute;
  top: 170px;
  left: 130px;
  text-align: justify; 
  border: 1px solid black; 
  border-radius: 1mm;
  box-sizing:content-box; 
  color:rgb(0, 0, 0);
  font-size: 17;
  font-weight: lighter bolder;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  
}

/*
   Password Field
 */
.pass
{
  width: 200px;
  height: 22px;
  position: absolute;
  top: 200px;
  left: 130px;
  text-align: justify; 
  border: 1px solid black; 
  border-radius: 1mm;
  box-sizing:content-box; 
  color:rgb(59, 62, 63);
  font-size: 17;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  background-color:  black;
  
  
}

.pass:hover{
  background-color:#c7a9ca;
  transition: 0.7s;
}

/*
  Login Button 
 */

.input{

  height: 27px;
  width: 80px;
  text-align: center;
  position: absolute;
  background-color: rgb(18, 18, 18);
  bottom: 0px;
  top: 250px;
  left: 190px;
  border: 1px solid rgb(8, 8, 8);
  border-radius:2cm;
  color: rgb(121, 118, 118);
  font-size: 17;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  
}

.input:hover
{
  background-color:#ed97f5;
  transition: 0.7s;
}


